---
layout: pagelayout
---

<style>
ul.article-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: max-content;
  margin: auto;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 4px black;
    border-radius: 12px;
    padding: 1em;
    gap: 0 1em;
  }

  p {
    margin: 0;
  }
}
</style>

<ul class="article-list">
{% for restaurant in collections.restaurant | sort:"date" %}
{% assign vtn = restaurant.url | replace:'/','-' | prepend: "post" %}
<li>
  <div style="flex-grow: 1">
    <a href="{{restaurant.url}}" style="view-transition-name: {{vtn}}title">{{restaurant.data.title}}</a>
    <time datetime="{{restaurant.data.date | isoDate}}">{{restaurant.data.date | localeDate }}</time>
    <p style="view-transition-name: {{vtn}}desc">{{restaurant.data.description}}</p>
  </div>
  {% if restaurant.data.thumbnail %}
  <img src="{{restaurant.url}}/{{restaurant.data.thumbnail}}" alt="Thumbnail image for {{restaurant.data.title}}" eleventy:widths="64" style="view-transition-name: {{vtn}}img"/>
  {% endif %}
</li>
{% endfor %}
</ul>
