---
layout: pagelayout
---

{% assign vtn = page.url | replace:'/','-' | prepend: "post" %}

<style>
h2 {
  display: inline-block;
}

.description {
  max-width: max-content;
}

image-carousel {
  view-transition-name: {{page.url | concat: '/img' | slugify}};
}

.post-title {
  view-transition-name: {{page.url | concat: '/info' | slugify}};

  h2 {
    margin: 0;
  }

  margin-bottom: 1rem;

  max-width: max-content;
}

</style>

<header class="post-title">
  {% if title %}
  <h2>{{title}}</h2>
  <time datetime="{{date | isoDate}}">{{date | localeDate }}</time>
  {% endif %}

  {% if description %}
  <div class="description">{{description}}</div>
  {% endif %}
</header>

{% if carousel %}
<image-carousel>
{% for img in carousel %}
<img src="{{img.image}}" alt="{{img.alt}}" loading="eager" eleventy:widths="500" />
{% endfor %}
</image-carousel>
{% endif %}

{{ content }}

<script async type="module" src="/image-carousel.js"/>
