---
title: Em's Faves
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="view-transition" content="same-origin"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header id="page-header">
    <h1> Em's Faves! </h1>
    <nav class="tabs">
      <a {% if page.url=="/" %}class="active" {% endif %} href="/"> Home </a>
      <a {% if page.url contains "/restaurants" %}class="active"{% endif %} href="/restaurants" >
        Restaurants
      </a>
    </nav>
    </header>
    <main>{{ content }}</main>
  </body>
</html>
